
<div class="header-bg">
<h1 class="welcome-header">Welcome to MusicTopia</h1>
</div>

<br><br><br><br><br>

<div class="footer-bg">

      <ul class="page-links">


      <a href="/login">Log In</a>

      {{#if user}}
      <a href="/users/{{user._id}}/profile">Your Profile</a>

      <a href="/login">Log in</a>

      <a href="/logout">Logout</a>


      {{/if}}

      <a href="/artists">All Artists</a>

      <a href="/albums">All Albums</a>

      <a href="/songs">All Songs</a>
      </ul>
      <a href="/register">Sign Up/Register</a>
</div>