
<div class="input-bg profile-element header-element">
<h1 class="welcome-header">Welcome to MusicTopia</h1>
</div>

<br><br>





      {{#if user}}
      <a href="/users/{{user._id}}/profile">Your Profile</a>



      {{/if}}
      <div class="profile-element header-element">
      <ul class="page-links">

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
      <a href="/login">Log In</a>
</button>
</h2>

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
      <a href="/logout">Log Out</a>
      </button>
      </h2>

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
      <a href="/artists">All Artists</a>
      </button>
      </h2>

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
      <a href="/albums">All Albums</a>
      </button>
      </h2>

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
      <a href="/songs">All Songs</a>
      </button>
      </h2>
      </ul>

      </div> 
      <div class="footer">
    <h6>Created by: Alex McDaniel</h6>
  </div>  
</div>