<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

{{!-- LOG IN INDICATOR SHOWING I'M LOGGED IN OR NOT AND IF I AM ADMIN OR NOT --}}


  {{{body}}}

<div class="footer">
<h6>Created by: Alex McDaniel</h6>
</div>  

  <script src="/javascripts/script.js"></script>
</body>
</html>