<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

{{!-- LOG IN INDICATOR SHOWING I'M LOGGED IN OR NOT AND IF I AM ADMIN OR NOT --}}


  {{{body}}}



<div class="layout-footer">

<ul class="page-links">

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a class="sign-up-button" href="/register">Sign- Up</a>
</button>
</h2>

{{!-- <h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/artists">Artists</a>
</button>
</h2>

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/albums">Albums</a>
</button>
</h2>

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/songs">Songs</a>
</button>
</h2> --}}

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/">Home</a>
</button>
</h2>
   
</ul>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>