body {
  padding: 3%;
  font: 22px Georgia;
  margin: 0 auto;
  color: white;
  background-image: url("/images/abstract-bg.jpg");
  background-size: 100%;
}

a {
  color: rgb(125, 199, 228);
}

ul {
  list-style: none;
}

.header-bg{
  background: rgba(22,22,22,.8);
  position: absolute;
  color: white;
  width: 94%;
}

.welcome-header{
  display: flex;
  justify-content: center;
  font-weight: 300;
}

.center-content{
  display: flex;
  align-items:center;
  position: relative;
  flex-direction: column;
}

.add-button{
  display:flex;
  position:relative;
  text-decoration:none;
  width:20%;
  color:white;
}

.header-add{
  position:relative;
  top:15vh;
}

.input-bg{
  background: rgba(22, 22, 22, 0.8);
  color:white;
  border-radius: 15%;
  text-decoration:none;
}

.page-links {
  display:flex;
  justify-content:center;
  font-size: 22px;
  text-decoration: none;
}

.page-links a {
  margin:5%;
  text-decoration:none;
}

.page-links button {
  margin:10%;
}

.footer-bg{
  background: rgba(22,22,22,.8);
  position: relative;
  margin: 10% 0;
  width: 100%;
  border-radius:20%;
}

.footer{
  position:relative;
  align-items:center;
}