body {
  padding: 3%;
  font: 22px Georgia;
  margin: 0 auto;
  color: white;
  background-image: url("/images/abstract-bg.jpg");
  background-attachment: fixed;
}

a {
  color: rgb(211, 224, 230);
  list-style:none;
  text-decoration:none;
}

.login-footer a{
  text-decoration: line-through;
}

.sign-up-button {
  text-decoration:none;
}

ul {
  list-style: none;
}

.header-bg{
  background: rgba(22,22,22,.6);
  position: absolute;
  color: white;
  width: auto;
  border-radius:80%;
}

.welcome-header{
  display: flex;
  justify-content: center;
  font-weight: 300;
}

.center-content{
  display: flex;
  align-items:center;
  position: relative;
  flex-direction: column;
}

.center-button{
  display:flex;
  justify-content:center;
}

.profile-element{
  background-color: rgba(22,22,22,0.6);
  margin:20px;
  width:auto;
  display:flex;
  align-items:center;
}

.header-element{
  justify-content:center;
  border-radius: 10%;
  border: 1px gray dashed;
  transition: border-width 0.4s linear;
}

.header-element:hover{
  border-width:4px;
}

.signup-boxes li{
  margin:2%;
}

.add-button{
  display:flex;
  position:relative;
  text-decoration:none;
  width:auto;
  color:white;
}

.button-margin1{
  margin-right:10%;
}

.button-margin2{
  margin-right:20%;
}

.drop-down{
  width:auto;
}

.header-add{
  position:relative;
  top:15vh;
}

.input-bg{
  background: rgba(53, 145, 161, 0.2);
  color:white;
  border-radius: 12%;
  text-decoration:none;
}

.page-links {
  display:flex;
  justify-content:center;
  font-size: 22px;
  text-decoration: none;
}

.page-links a {
  margin:5%;
}

.page-links button {
  margin:10%;
}

.footer-bg{
  background: rgba(22,22,22,.5);
  position: relative;
  width: auto;
  border-radius:80%;
}

.footer{
  position:relative;
  align-items:flex-end;
  border: 1px solid darkred;
  transition: border-width 0.4s linear;
  width:30%;
}

.footer:hover{
  border-width:5px;
}

.footer-spacing{
  margin:0 20px;
}

.layout-footer{
  background-color: rgba(22,22,22,0.6);
  width:100%;
  margin:0;
  display:flex;
  align-content:center;
  justify-content:space-around;
}

//    
// 
