
<div class="header-bg">
<h1 class="welcome-header">Login</h1>

<h2 class="welcome-header">WELCOME</h2>
</div>

<br><br><br><br><br><br><br><br>
<form action="/login" method="POST">


<label for="">Username: </label>
<input class="input-bg" type="text" name="username" required>


<label for="">Password: </label>
<input class="input-bg" type="text" name="password" required>

{{!-- create config folder in root directory for passport stuff. put them in passport-stuff.js file. --}}
<br><br>
<button class="input-bg page-links">Log In</button>

{{#if message}}
  <h4 class="input-bg errorMessage">{{message}}</h4>
{{/if}}
<br><br>

<div class="footer-bg">

<ul class="page-links">

<a href="/register">Sign Up/Register</a>
<br><br>
<a href="/">Home</a>
</ul>
</div>

</form>