
<div class="header-bg">
<h1 class="welcome-header">Login</h1>

<h2 class="welcome-header">WELCOME Guest</h2>
</div>

<br><br><br><br><br><br><br><br>
<form class="center-content" action="/login" method="POST">

<ul class="center-content">

<li>

<label for="">Username: </label>
<input class="input-bg" type="text" name="username" required>
</li>
<br>
<li>

<label for="">Password: </label>
<input class="input-bg" type="text" name="password" required>
</li>

</ul>
{{!-- create config folder in root directory for passport stuff. put them in passport-stuff.js file. --}}
<br><br>
<button class="input-bg page-links">Log In</button>

{{#if message}}
  <h4 class="input-bg errorMessage">{{message}}</h4>
{{/if}}
<br><br>

<div class="login-footer footer-bg">

<ul class="page-links">

<h2 class="page-links"></h2>

<button class="add-button page-links input-bg">

<a class="sign-up-button" href="/register">Sign Up Register</a>
</button>
</h2>
<h2 class="page-links">
<button class="add-button page-links input-bg">

<a href="/artists">Artists</a>
</button>
</h2><h2 class="page-links">
<button class="add-button page-links input-bg">

<a href="/albums">Albums</a>
</button>
</h2>
</h2><h2 class="page-links">
<button class="add-button page-links input-bg">

<a href="/songs">Songs</a>
</button>
</h2>
<h2 class="page-links">
<button class="add-button page-links input-bg">

<a href="/">Home</a>
</button>
</h2>
</ul>
</div>

</form>

{{!-- artists, albums, home on login page turn into equalizer look, with art and album as slider. --}}