
<form action="/login" method="POST"></form>

<label for="">Username</label>
<input type="text" name="username">



<label for="">Password</label>
<input type="text" name="password">


<label for="">Username</label>
<input type="text" name="bio">

{{!-- create config folder in root directory for passport stuff. put them in passport-stuff.js file. --}}