
<form action="/register" method="POST">
{{!-- magic comes from teh form, not much from the router.get request on routes file. --}}

<label for="">Username</label>
<input type="text" name="username">


<label for="">Password</label>
<input type="text" name="password">


<label for="">Bio</label>
<textarea name="bio" id="" cols="30" rows="5"></textarea>
{{!-- prefilled text would go in text area for textarea section. --}}

<br><br><br><br>
<button>Submit</button>







</form>