<div class="input-bg profile-element header-element">
<h1 class="welcome-header">Add New Artist to our Database</h1>

</div>

<br><br><br><br><br>
{{!-- how do we make it easy for the user to submit a post request? --}}
{{!-- how do we control the post request? --}}

<ul class="signup-boxes">

<form action="/artist-new" method="POST">
{{!-- by putting method = post, we make it so when the user clicks the button on the bottom, it'll submit a post request to whichever url we put in the action property. --}}

<li>

<label>Name</label>
<input class="input-bg" type="text" name="name">
</li>
{{!-- each input controls what the user is allowed inside teh psot request. the name attribute adds the info INTO REQ.BODY on the routes page and the name of the key in req.body, will be whatever the name is. --}}

<li>

<label>Genre</label>
<input class="input-bg" type="text" name="genre">
</li>
{{!-- if req.body doesn't connect correctly, check that names are correctly matching the model page, and that a post request was sent rather than a get request. --}}


<li>

<label>Hometown</label>
<input class="input-bg" type="text" name="hometown">
</li>

<li>

<select class="page-links add-button input-bg" name="rating" id="">
  <option value="">Excellent</option>
  <option value="">Average</option>
  <option value="">Mediocre</option>
</select>
</li>

<br><br>
<li>

<button class="input-bg page-links">Submit</button>
</li>
{{!-- by having a button inside a form, form will automatically submit when you click it, when form submits, it'll make whatever request you put in the method, and requst will be sent to the url put in the action. --}}
<br><br>

<div class="profile-element header-element">

<ul class="page-links">

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/profile">Profile</a>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/artists">Back to Artists</a>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/albums">Albums</a>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/songs">Songs</a>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/">Home</a>
</button>
</h2>
</ul>


</form>
</div>

{{!-- name sections in input must match below from each model --}}
{{!-- USER MUST BE LOGGED IN TO ADD ARTIST OR ALBUM --}}