<h1>Add New Artist to our Database</h1>

{{!-- how do we make it easy for the user to submit a post request? --}}
{{!-- how do we control the post request? --}}

<form action="/artist-new" method="POST">
{{!-- by putting method = post, we make it so when the user clicks the button on the bottom, it'll submit a post request to whichever url we put in the action property. --}}

<label>Name</label>
<input type="text" name="name">
{{!-- each input controls what the user is allowed inside teh psot request. the name attribute adds the info INTO REQ.BODY on the routes page and the name of the key in req.body, will be whatever the name is. --}}


<label>Genre</label>
<input type="text" name="genre">
{{!-- if req.body doesn't connect correctly, check that names are correctly matching the model page, and that a post request was sent rather than a get request. --}}

<label>Albums</label>
<select name="album" id="">
{{#each allAlbums}}

<option value="{{this._id}}">{{this.album}}</option>

{{/each}}

 </select>
<br><br>
<label>Hometown</label>
<input type="text" name="hometown">

<select name="rating" id="">
  <option value="">Excellent</option>
  <option value="">Average</option>
  <option value="">Mediocre</option>
</select>


<button>Submit</button>
{{!-- by having a button inside a form, form will automatically submit when you click it, when form submits, it'll make whatever request you put in the method, and requst will be sent to the url put in the action. --}}
<br><br>
<a href="/profile">Profile</a><br><br>
<a href="/">Main</a>


</form>

{{!-- name sections in input must match below from each model --}}
{{!-- USER MUST BE LOGGED IN TO ADD ARTIST OR ALBUM --}}